In [7]:
# Importación de librerías
import numpy as np  # Importa la librería NumPy para computación numérica
import pandas as pd  # Importa la librería pandas para análisis y manipulación de datos
import matplotlib.pyplot as plt  # Importa la librería matplotlib para la creación de gráficos (usando pyplot)
import seaborn as sns  # Importa la librería seaborn para la visualización estadística de datos (construida sobre matplotlib)
import sqlite3  # Importa la librería sqlite3 para trabajar con bases de datos SQLite

# Supresión de advertencias (utilizar con precaución)
warnings.filterwarnings('ignore')  # Esta línea suprime las advertencias, pero puede ocultar mensajes importantes, úsela con precaución

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# Conectarse a la base de datos movie.sqlite
con = sqlite3.connect("movie.sqlite")

# Crear un cursor para ejecutar sentencias SQL
cur = con.cursor()

1.- ¿Cuáles son los datos de las películas?

In [5]:
cur.execute('SELECT * FROM movies')

movies = cur.fetchall()

#Note - fetchall() --> recupera todas las filas para la consulta actual; si no hay filas disponibles, devuelve una lista vacía.
movies = pd.DataFrame(movies, columns = ['id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

print('Tamaño de los datos :',movies.shape)
print('\n\n\n')
movies.head(3)

Tamaño de los datos : (4773, 13)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764

2.- Obtén los datos de los directores.

In [9]:
# This line executes a SQL query to select all columns (*) from the 'directors' table
# and stores the results in the cursor object
cur.execute('SELECT * FROM directors')

# This line fetches all the rows from the cursor as a list of tuples
directors = cur.fetchall()

# This line converts the list of tuples into a pandas DataFrame
# Specifying column names (['name', 'id', 'gender', 'uid', 'department']) ensures the data
# is placed in the corresponding columns
directors = pd.DataFrame(directors, columns=['name', 'id', 'gender', 'uid', 'department'])

# This line displays the first 3 rows of the 'directors' DataFrame
directors.head(3)

             name    id  gender   uid department
0   James Cameron  4762       2  2710  Directing
1  Gore Verbinski  4763       2  1704  Directing
2      Sam Mendes  4764       2    39  Directing

3.- ¿Cuántas películas hay en la base de datos?

In [ ]:
cur.execute('SELECT COUNT (*) from movies;')


count = cur.fetchall()
print("El número de películas es \t\t\t :",count[0])

El número de películas es 			 : (4773,)

4.- Encuentra a los siguientes directores: James Cameron ; Luc Besson ; John Woo.

In [ ]:
cur.execute("SELECT * from directors where name == 'James Cameron' or name =='Luc Besson' or name =='John Woo'")

# where - WHERE cláusula para obtener las filas que cumplieron estas condiciones.

tres_directors = cur.fetchall()

print("Los directores: \t :",tres_directors)

Los directores: 	 : [('James Cameron', 4762, 2, 2710, 'Directing'), ('John Woo', 4893, 2, 11401, 'Directing'), ('Luc Besson', 4949, 2, 59, 'Directing')]

5.- Busca todos los directores con nombres que comienzan con Steven

In [ ]:
cur.execute("SELECT * from directors where name LIKE 'Steven%'")

#LIKE  - LIKE El operador distingue entre mayúsculas y minúsculas, funciona como si los nombres comenzaran con una palabra en particular deberían coincidir.

# El patrón d% que utiliza el comodín del signo de porcentaje ( %) coincide con cualquier cadena que comience con s e.g.,danger and dance,door.


name_like = cur.fetchall()
print("TLos nombres son: \n \t", name_like)

TLos nombres son:
 	 [('Steven Spielberg', 4799, 2, 488, 'Directing'), ('Steven Soderbergh', 4909, 2, 1884, 'Directing'), ('Steven Brill', 5013, 2, 32593, 'Directing'), ('Steven Zaillian', 5117, 2, 2260, 'Directing'), ('Steven Quale', 5216, 2, 93214, 'Directing'), ('Steven Seagal', 5221, 2, 23880, 'Directing'), ('Steven E. de Souza', 5390, 2, 1726, 'Directing'), ('Steven Shainberg', 5803, 2, 67795, 'Directing'), ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

6.- Cuente el número de directoras.

In [10]:
# Execute the query to count female directors (assuming gender: 1 represents female)
cur.execute("SELECT COUNT(*) FROM directors WHERE gender == 1")

# Fetch the count as a single value (assuming a single-column result)
female_director_count = cur.fetchone()[0]

# Print the result in a clear and informative way
print("El número de directoras son:", female_director_count)

El número de directoras son: 150

7.- ¿Encuentra el nombre de la décima primera mujer directora?

In [ ]:
cur.execute("SELECT name FROM directors WHERE gender == 1 ORDER by id asc limit 1 OFFSET 10")

#ORDER by - Para ordenar los datos usamos orden por, ascendente (asc) O descendente (dsc)
#LIMIT -  LIMIT cláusula para limitar el número de filas devueltas por la consulta.

# LIMIT_OFFSET - cláusula para obtener la enésima fila más alta o la enésima más baja
tenth= cur.fetchall()
print("TEl nombre es: \n\n \t", tenth[0])

TEl nombre es:

 	 ('Karyn Kusama',)

8.- ¿Cuáles son las tres películas más populares?

In [11]:
# Execute the SQL query to retrieve the most popular movie titles
cur.execute("SELECT original_title FROM movies ORDER BY popularity DESC LIMIT 3")

# Fetch the results into a list
most_popular = cur.fetchall()

# Print the results in a user-friendly format
print("Las tres películas más populares son: \n\n")  # Clear heading with spacing

# Iterate through the fetched titles and print them with proper formatting
for title in most_popular:
    print("\t", title[0])  # Access the first element (title) from each tuple

Las tres películas más populares son:


	 Minions
	 Interstellar
	 Deadpool

9.- ¿Cuáles son las 3 películas más rentables?

In [12]:
# This line executes a SQL query to the cursor object
cur.execute("SELECT * FROM movies ORDER BY budget DESC LIMIT 3")

# Explanation of the query:
#   - SELECT * : This selects all columns from the "movies" table.
#   - FROM movies : This specifies the table from which data will be retrieved.
#   - ORDER BY budget DESC : This orders the results by the "budget" column in descending order (highest to lowest).
#   - LIMIT 3 : This limits the number of returned rows to 3.

# This line fetches all the results of the query as a list of tuples
most_bankable = cur.fetchall()

# Explanation:
#   - cur.fetchall(): This method fetches all remaining rows of the query result as a list of tuples.
#   - most_bankable: This variable stores the retrieved list of tuples.

# This line prints a message and the list of movie titles
print("Las tres peliculas con mayor presupuesto son: \n\n \t", most_bankable)

# Explanation:
#   - print: This function outputs a message to the console.
#     - "Las tres peliculas con mayor presupuesto son: \n\n \t": This is the message displayed, formatted for readability.
#           - \n\n: Inserts two newlines for spacing.
#           - \t: Inserts a tab for indentation.
#     - most_bankable: This variable is used to display the list of movie titles retrieved from the database.

Las tres peliculas con mayor presupuesto son:

 	 [(43614, 'Pirates of the Caribbean: On Stranger Tides', 380000000, 135, '2011-05-14', 1045713802, 'Pirates of the Caribbean: On Stranger Tides', 6.4, 4948, "Captain Jack Sparrow crosses paths with a woman from his past, and he's not sure if it's love -- or if she's a ruthless con artist who's using him to find the fabled Fountain of Youth. When she forces him aboard the Queen Anne's Revenge, the ship of the formidable pirate Blackbeard, Jack finds himself on an unexpected adventure in which he doesn't know who to fear more: Blackbeard or the woman from his past.", 'Live Forever Or Die Trying.', 1865, 4775), (43598, "Pirates of the Caribbean: At World's End", 300000000, 139, '2007-05-19', 961000000, "Pirates of the Caribbean: At World's End", 6.9, 4500, 'Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems.', 'At the end of the world, the adventure begins.', 285, 4763), (43604, 'Avengers: Age of Ultron', 280000000, 134, '2015-04-22', 1405403694, 'Avengers: Age of Ultron', 7.3, 6767, 'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.', 'A New Age Has Come.', 99861, 4769)]

10.- Explica de manera detallada cómo funcionan los JOINS en SQL. Puedes tomar de referencia lo siguiente:


*   https://www.techonthenet.com/sqlite/joins.php
*   https://www.tutorialspoint.com/sqlite/sqlite_using_joins.htm

10.- ¿Qué películas fueron dirigidas por Brenda Chapman?

In [13]:
# Esta consulta SQL selecciona el título original ("original_title") de la tabla "movies"
# uniéndose a la tabla "directors" en el id del director ("director_id")
# donde el nombre del director ("name") sea igual a 'Brenda Chapman'
cur.execute("SELECT original_title FROM movies JOIN directors ON directors.id = movies.director_id WHERE directors.name = 'Brenda Chapman';")

# Se almacenan los resultados de la consulta en la variable "directed_by"
directed_by= cur.fetchall()

# Se imprime "Brenda Chapman" seguido de un salto de línea
print("Brenda Chapman \n\n \t")

# Se imprime el contenido de la variable "directed_by", que contiene los títulos de las películas dirigidas por Brenda Chapman
print(directed_by)

Brenda Chapman


[('Brave',)]

11.- ¿Qué director ha realizado más películas?

In [14]:
# This code retrieves the name of the director with the most movies in the database

cur.execute("SELECT name FROM directors JOIN movies ON directors.id = movies.director_id GROUP BY director_id ORDER BY count(name) DESC limit 1;")

# Fetches the director's name from the database
directed_by = cur.fetchall()

# Print the result formatted for readability
print("El director con más películas \n\n \t", directed_by)

El director con más películas

 	 [('Steven Spielberg',)]

12.- Enumere las 10 películas más populares

In [15]:
# This line executes a SQL query to retrieve data from two tables:
# - movies: Contains information about movies, including original title, release date, popularity, revenue, and a foreign key `director_id` referencing the directors table.
# - directors: Stores details about directors, including their name and a primary key `id`.
# The `JOIN` clause combines data from both tables based on the matching `director_id` values.
# The `ORDER BY popularity DESC` clause sorts the results in descending order of popularity.
cur.execute('SELECT original_title, name, release_date, popularity, revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY popularity DESC')

# This line fetches all rows of data returned by the cursor object `cur`.
# The fetched data is typically a list of tuples, where each tuple represents a row in the result set.
mostPopular = cur.fetchall()

# This line converts the list of tuples into a pandas DataFrame for easier manipulation and analysis.
# The column names are explicitly provided using the `columns` parameter to ensure clarity.
mostPopular = pd.DataFrame(mostPopular, columns=['original_title', 'director_name', 'release_date', 'popularity', 'revenue'])

# This line displays the first 10 rows (the most popular movies) of the DataFrame `mostPopular`.
print(mostPopular.head(10))

                                      original_title      director_name  \
0                                            Minions         Kyle Balda
1                                       Interstellar  Christopher Nolan
2                                           Deadpool         Tim Miller
3                            Guardians of the Galaxy         James Gunn
4                                 Mad Max: Fury Road      George Miller
5                                     Jurassic World    Colin Trevorrow
6  Pirates of the Caribbean: The Curse of the Bla...     Gore Verbinski
7                     Dawn of the Planet of the Apes        Matt Reeves
8              The Hunger Games: Mockingjay - Part 1   Francis Lawrence
9                                         Big Hero 6     Chris Williams

  release_date  popularity     revenue
0   2015-06-17         875  1156730962
1   2014-11-05         724   675120017
2   2016-02-09         514   783112979
3   2014-07-30         481   773328629
4   2015-05-13         434   378858340
5   2015-06-09         418  1513528810
6   2003-07-09         271   655011224
7   2014-06-26         243   710644566
8   2014-11-18         206   752100229
9   2014-10-24         203   652105443

13.- ¿Cuáles son las 10 películas con mayores ingresos?

In [16]:
# This line executes a SQL query that retrieves data from two tables:
#   - movies: contains information about movies, including original title, release date, and revenue
#   - directors: contains information about directors, including their name
# The JOIN clause connects these tables based on the director_id field (foreign key in movies table referencing primary key in directors table)
# The query selects the following columns:
#   - original_title: The original title of the movie
#   - name: The name of the director
#   - release_date: The release date of the movie
#   - revenue: The revenue generated by the movie
# The ORDER BY clause sorts the results in descending order by revenue (highest grossing movies first)
cur.execute('SELECT original_title, name, release_date, revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY revenue DESC')

# This line fetches all rows from the query result set and stores them in a list named mostProfit
mostProfit = cur.fetchall()

# This line converts the list of results (mostProfit) into a pandas DataFrame object
# A DataFrame is a tabular data structure with labeled columns
# The columns are named based on the list provided (['original_title', 'director_name', 'release_date', 'revenue'])
# This makes the data easier to manipulate and analyze
mostProfit = pd.DataFrame(mostProfit, columns = ['original_title', 'director_name', 'release_date', 'revenue'])

# This line displays the first 10 rows of the DataFrame (mostProfit)
# This provides a glimpse of the top 10 highest grossing movies and their corresponding directors
mostProfit.head(10)

               original_title    director_name release_date     revenue
0                      Avatar    James Cameron   2009-12-10  2787965087
1                     Titanic    James Cameron   1997-11-18  1845034188
2                The Avengers      Joss Whedon   2012-04-25  1519557910
3              Jurassic World  Colin Trevorrow   2015-06-09  1513528810
4                   Furious 7        James Wan   2015-04-01  1506249360
5     Avengers: Age of Ultron      Joss Whedon   2015-04-22  1405403694
6                      Frozen       Chris Buck   2013-11-27  1274219009
7                  Iron Man 3      Shane Black   2013-04-18  1215439994
8                     Minions       Kyle Balda   2015-06-17  1156730962
9  Captain America: Civil War    Anthony Russo   2016-04-27  1153304495

14.- ¿Películas de James Cameron?

In [19]:
# This code retrieves movies directed by James Cameron from a database

# The following line executes a SQL query to a database
cur.execute('SELECT original_title, release_date, budget, revenue, popularity, vote_average FROM directors JOIN movies ON directors.id = movies.director_id WHERE name = "James Cameron" ORDER BY revenue DESC')

# This line fetches all results of the executed query
moviesByJamesCameron = cur.fetchall()

# This line converts the fetched results (list of tuples) into a pandas DataFrame
# and assigns column names to each column
moviesByJamesCameron = pd.DataFrame(moviesByJamesCameron, columns = ['original_title', 'release_date', 'budget', 'revenue', 'popularity', 'vote_average'])

# This line prints the DataFrame containing information about movies directed by James Cameron
print(moviesByJamesCameron)

               original_title release_date     budget     revenue  popularity  \
0                      Avatar   2009-12-10  237000000  2787965087         150
1                     Titanic   1997-11-18  200000000  1845034188         100
2  Terminator 2: Judgment Day   1991-07-01  100000000   520000000         101
3                   True Lies   1994-07-14  115000000   378882411          38
4                      Aliens   1986-07-18   18500000   183316455          67
5                   The Abyss   1989-08-09   70000000    90000098          24
6              The Terminator   1984-10-26    6400000    78371200          74

   vote_average
0           7.2
1           7.5
2           7.7
3           6.8
4           7.7
5           7.1
6           7.3

15.- Enumere los nombres de los directores con la cantidad de películas y los ingresos.

In [20]:
# Execute the SQL query to retrieve data from the database
cur.execute('SELECT name, COUNT(original_title), SUM(revenue) FROM directors JOIN movies ON directors.id = movies.director_id GROUP BY name ORDER BY SUM(revenue) DESC')

# Fetch all results from the cursor
mostProfitableDirectors = cur.fetchall()  # Use plural for consistency

# Convert the fetched data into a pandas DataFrame for easier manipulation
mostProfitableDirectors_df = pd.DataFrame(mostProfitableDirectors, columns=['director_name', 'movies', 'revenue'])

# Display the top 10 directors with the highest total revenue
print(mostProfitableDirectors_df.head(10))

       director_name  movies     revenue
0   Steven Spielberg      27  9147393164
1      Peter Jackson       9  6498642820
2      James Cameron       7  5883569439
3        Michael Bay      12  5832524638
4  Christopher Nolan       8  4227483234
5     Chris Columbus      11  3725631503
6    Robert Zemeckis      13  3590622002
7       George Lucas       5  3339113893
8         Tim Burton      14  3337418241
9       Ridley Scott      16  3189557997

In [21]:
# Importa la librería pandas (asumiendo que se llama pd)
# Esta librería se usa para manipular datos en DataFrames

# Ejecuta la consulta SQL
cur.execute('SELECT original_title, release_date, budget, revenue, popularity, vote_average FROM directors JOIN movies ON directors.id = movies.director_id WHERE name = "Steven Spielberg" ORDER BY release_date DESC')

# Almacena los resultados de la consulta en una variable
moviesByStevenSpielberg = cur.fetchall()

# Convierte los resultados (lista de tuplas) a un DataFrame de pandas
moviesByStevenSpielberg = pd.DataFrame(moviesByStevenSpielberg, columns = ['original_title', 'release_date', 'budget', 'revenue', 'popularity', 'vote_average'])

# Imprime el DataFrame resultante
print(moviesByStevenSpielberg)

                                       original_title release_date     budget  \
0                                             The BFG   2016-06-01  140000000
1                                     Bridge of Spies   2015-10-15   40000000
2                                             Lincoln   2012-11-09   65000000
3                                           War Horse   2011-12-25   66000000
4                            The Adventures of Tintin   2011-10-25  130000000
5   Indiana Jones and the Kingdom of the Crystal S...   2008-05-21  185000000
6                                              Munich   2005-12-22   70000000
7                                   War of the Worlds   2005-06-28  132000000
8                                        The Terminal   2004-06-17   60000000
9                                 Catch Me If You Can   2002-12-25   52000000
10                                    Minority Report   2002-06-20  102000000
11                       A.I. Artificial Intelligence   2001-06-29  100000000
12                                Saving Private Ryan   1998-07-24   70000000
13                                            Amistad   1997-12-03   36000000
14                      The Lost World: Jurassic Park   1997-05-23   73000000
15                                   Schindler's List   1993-11-29   22000000
16                                      Jurassic Park   1993-06-11   63000000
17                                               Hook   1991-12-11   70000000
18                 Indiana Jones and the Last Crusade   1989-05-24   48000000
19                                   The Color Purple   1985-12-18   15000000
20               Indiana Jones and the Temple of Doom   1984-05-23   28000000
21                           Twilight Zone: The Movie   1983-06-24   10000000
22                         E.T. the Extra-Terrestrial   1982-04-03   10500000
23                            Raiders of the Lost Ark   1981-06-12   18000000
24                                               1941   1979-12-13   35000000
25                 Close Encounters of the Third Kind   1977-11-16   20000000
26                                               Jaws   1975-06-18    7000000

      revenue  popularity  vote_average
0   183345589          44           6.0
1   165478348          48           7.2
2   275293450          36           6.7
3   177584879          29           7.0
4   371940071          89           6.7
5   786636033          75           5.7
6   130358911          29           6.9
7   591739379          48           6.2
8   219417255          57           7.0
9   352114312          73           7.7
10  358372926          65           7.1
11  235926552          34           6.8
12  481840909          76           7.9
13   74000000           3           6.8
14  229074524           2           6.2
15  321365567         104           8.3
16  920100000          40           7.6
17  300854823          33           6.6
18  474171806          80           7.6
19  146292009          17           7.7
20  333000000          66           7.1
21   29450919          12           6.2
22  792910554          56           7.3
23  389925971          68           7.7
24   31755742          10           5.6
25  303788635          52           7.2
26  470654000          50           7.5